<div class="container">
    <button class="btn" (click)="togglePopUpOff()"><i class="fa fa-close"></i></button>
    <div class="row">
        <div class="description__container">
            <header class="description__header">
                <h1>{{teacher.firstName}} {{teacher.lastName}}</h1>
            </header>
            <hr>
            <div class="descritpion__body">
                <div class="contact">
                    <h2>Contact: {{teacher.email}}</h2>
                </div>
            </div>
        </div>
    </div>
</div>

