<div class="container">
    <div class="popUp__title">
        <h2>Update Subject</h2>
    </div>
    <form action="" class="form" [formGroup]="updateForm" novalidate>
        <div class="form-floating">
            <input class="form-control" type="text" id="name" formControlName="name" value="{{subject.name}}"
            [class.is-invalid]="updateForm.get('name')?.touched && !updateForm.get('name')?.valid"
            [class.is-valid]="updateForm.get('name')?.touched && updateForm.get('name')?.valid">
            <label for="name">Subject's name</label>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please choose a name.
            </div>
        </div>
        <div class="form-floating">
            <select id="teacherInput" class="form-select form-select-sm" formControlName="teacher">
                <option selected></option>
                <option *ngFor="let teacher of teachers" value="{{teacher.email}}">{{teacher.firstName}} {{teacher.lastName}}</option>
            </select> 
            <label for="teacherInput">Subject's teacher</label>
        </div>
        <div>
            <button [disabled]="updateForm.invalid" class='btn btn-info' (click)="onSubmit()">Update</button>
            <button class='btn' (click)="toggleFormOff()">Cancel</button>
        </div>
    </form>
</div>
