.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popUp__title {
    text-align: center;
}

.form {
    height: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

