<div class="wrapper">
    <table class="table table-striped table-hover">
        <thead>
            <th scope="col">Students</th>
        </thead>
        <tbody>
            <tr *ngFor="let student of students">
                <td><h4>{{student.name}}</h4></td>
                <td><button class="btn btn-info" type="button" (click)="navigateToDetails(student.id)">Details</button></td>
            </tr>         
        </tbody>
    </table>   
    <button class="btn btn-success" type="button" (click)="toggleRegisterNewStudentForm()">Register New Student</button>
    <div id="form-container">
        <form [formGroup]="registerNewStudentForm">
            <label for="first_name"> First Name
                <input class="form-control" [class.invalid]="registerNewStudentForm.get('first_name')?.invalid && registerNewStudentForm.get('first_name')?.touched"  
                type="text" name="first_name" placeholder="Enter student's first name"
                formControlName="first_name">
            </label>
            <label for="last_name"> Last Name
                <input class="form-control" [class.invalid]="registerNewStudentForm.get('last_name')?.invalid && registerNewStudentForm.get('last_name')?.touched"  
                type="text" name="last_name" placeholder="Enter student's last name"
                formControlName="last_name">
            </label>
            <label for="email"> Email
                <input class="form-control" [class.invalid]="registerNewStudentForm.get('email')?.invalid && registerNewStudentForm.get('email')?.touched"  
                type="text" name="email" placeholder="Enter student's email"
                formControlName="email">
            </label>
            <button [disabled]="registerNewStudentForm.invalid" class="btn-info" (click)="onSubmit()">Register</button>
            <button class="btn-danger" (click)="toggleRegisterNewStudentForm()">X</button>
        </form>
    </div>
</div>