<div class="container">
    <h1>Add new </h1>
    <form class="form" [formGroup]="registerForm">
        <div *ngFor="let key of ColData">
            <label *ngIf="key.field=='name'" for="name"> Enter name
                <input type="text" name="name" formControlName="name">
            </label>
            <label *ngIf="key.field=='email'" for="email"> Enter email
                <input type="text" name="email" formControlName="email">
            </label>
            <label *ngIf="key.field=='teacherName'" for="teacher"> Select teacher
                <select name=teacher formControlName="teacher">
                    <option *ngFor="let option of Options" value="{{option.name}}">{{option.name}}</option>
                </select>
            </label>
        </div>
        
        <div class="buttons">
            <button class="btn">Cancel</button>
            <button class="btn btn-info" (click)="onSubmit()">Add</button>
        </div>
    </form>
</div>
