<div class="wrapper">
    <table>
        <tbody>
            <tr>
                <th><h1>{{subject.name}}</h1></th>
            </tr>
            <tr>
                <th><h2>Teacher:</h2></th>
                <td><h2>{{subject.teacher.name}}</h2></td>
            </tr>
            <tr>
                <th><h2>Contact:</h2></th>
                <td><h2>{{subject.teacher.email}}</h2></td>
            </tr>
            <tr>
                <th><h2>Students</h2></th> 
                <th><button class="toggle-btn" (click)="toggleStudentsList()"><i class="fa fa-chevron-down"></i></button></th>
            </tr>
        </tbody>
    </table>
    <div class="students-table-container">
        <table id="students-table" class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Contact</th>  
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of subject.students">
                    <td class="students-td"><h4>{{student.name}}</h4></td>
                    <td class="students-td"><h4>{{student.email}}</h4></td>
                </tr>         
            </tbody>
        </table>
    </div>  
    <div class="enroling-container" [ngSwitch]="enroling">
        <button *ngSwitchDefault class="btn btn-success" type="button" (click)="toggleEnroleForm()">Enrole a Student</button>       
        <div *ngSwitchCase="true" class="enroling-form-container">
            <form class="form" [formGroup]="enroleForm">
                <label for="student">Student
                    <select name="student" class="custom-select form-control" formControlName="student">
                        <option *ngFor="let student of studentsToEnrole" [ngValue]="student">{{student.name}}</option>
                    </select>
                </label>
            </form>
            <button class="btn btn-success" (click)="enroleStudent()">Enrole</button>
            <button class="btn btn-danger" (click)="toggleEnroleForm()">X</button>
        </div>
  
    </div> 
</div>

    

