.wrapper {
    position: relative;
    left: 50px;
    top: 50px;
}

.toggle-btn {
    background: none;
    border: none;
}

.toggle-btn:hover {
    opacity: .5;
}

.students-table-container {
    height: 210px;
    width: 500px;
    overflow: auto;
}

#students-table {
    display: none;
}

#students-table.active {
    display: block;
}

th, td {
    padding-left:15px;
}


.enroling-form-container {
    width: 500px;
    height: 38px;
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

form {
    display: flex;
    flex-direction: column;
}


