<div class="container">
    <div class="row">
        <header>
            <h1 class="header__title">Subjects</h1>
                <button class="btn header-btn btn-add" (click)="togglePopUp('add')">&#43;</button>
        </header>
    </div>
    <div class="row">
        <div class="popUp__container addSubject">
            <app-add-subject-popUp [subjectsList]="subjects"></app-add-subject-popUp>
        </div>
        <div class="popUp__container descriptionSubject">
            <app-description-subject-popUp [subject]="subject" [students]="students"></app-description-subject-popUp>
        </div>
        <div class="popUp__container updateSubject">
            <app-update-subject-popUp [subject]="subject" [subjectsList]="subjects"></app-update-subject-popUp>
        </div>
        <div class="popUp__container deleteSubject">
            <app-delete-subject-popUp [subject]="subject" [subjectsList]="subjects"></app-delete-subject-popUp>
        </div>
       
        <table class="table table-sm table-fixed">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Teacher</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let subject of subjects">
                    <td>{{subject.name}}</td>
                    <td>{{subject.teacher?.firstName}} {{subject.teacher?.lastName}}</td>
                    <td class="table__btns-group">
                        <button class="btn description" (click)="toggleDescriptionPopUp(subject)"> <i class="fa fa-eye" aria-hidden="true"></i></button>
                        <button class="btn update" (click)="toggleUpdatePopUp(subject)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                        <button class="btn delete" (click)="toggleDeletePopUp(subject)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

