<div class="wrapper">
        <table class="table table-striped table-hover">
            <thead>
                <th scope="col">Subject</th>
                <th scope="col">Teacher</th>
                <th scope="col">Schedule</th>
            </thead>
            <tbody>
                <tr *ngFor="let subject of subjects">
                    <div *ngIf="!subject.updating" class="read-info-container">
                        <td><button class="btn" (click)="navigateToDetails(subject.id)">{{subject.name}}</button></td>
                        <td>
                            <h4 *ngIf="subject.teacher">{{subject.teacher.name}}</h4>
                        </td>
                        <td><small>{{subject.schedule}}</small></td>
                        <td><button class="btn btn-info" type="button" (click)="toggleUpdateFormOn(subject.id)">Update</button></td>
                        <td><button class="btn btn-danger">Delete</button></td>
                    </div>
                    <div *ngIf="subject.updating" class="update-info-container">
                        <form [formGroup]="updateSubjectForm">
                            <td>
                                <input formControlName="name" value="{{subject.name}}" type="text" class="form-control">
                            </td>
                            <td>
                                <select formControlName="teacher" name="teacher" class="custom-select form-control">
                                    <option *ngFor="let teacher of teachers" [ngValue]="teacher">{{teacher.name}}</option>  
                                </select>                         
                            </td>  
                            <td>
                                <input formControlName="schedule" value="{{subject.schedule}}" type="text" class="form-control">
                            </td>          
                            <td><button class="btn btn-info" type="button" (click)="updateSubject(subject.id)">Update</button></td>
                            <td><button class="btn btn-danger" (click)="toggleUpdateFormOff(subject.id)">X</button></td>
                        </form>
                    </div>
                </tr>   
               
                      
            </tbody>
            <button class="btn btn-success add-subject" (click)="toggleAddSubjectForm()">Add a Subject</button>
        </table>   
        <div class="form-container" id="form-container">
            <form class="form" [formGroup]="addSubjectForm">
                <label for="name" > Name
                    <input class="form-control" id="name" type="text" placeholder="Enter subject's name" 
                    formControlName="name"
                    [class.is-invalid]="addSubjectForm.get('name')?.touched && !addSubjectForm.get('name')?.valid">
                </label>
                <div class="schedule-container">
                        <label for="day">Day
                            <select name="day" class="custom-select form-control" formControlName="day">
                                <option *ngFor="let day of days" [ngValue]="day">{{day}}</option>
                            </select>
                        </label>
                        <div class="md-form mx-5 my-5">
                            <label for="inputMDEx1">Start Time:
                                <input type="time" id="inputMDEx1" class="form-control" formControlName="startTime">
                            </label>
                        </div>
                        <div class="md-form mx-5 my-5">
                            <label for="inputMDEx1">End Time:
                                <input type="time" id="inputMDEx1" class="form-control" formControlName="endTime">
                            </label>
                        </div>
                </div>    
                <button [disabled]="addSubjectForm.invalid" class="btn btn-info form-control" type="submit" (click)="onSubmit()">Add</button>
                <button class="btn-danger" (click)="toggleAddSubjectForm()">X</button>
            </form>
        </div>
    </div>

