<div class="wrapper">
        <table class="table table-striped table-hover">
            <thead>
                <th scope="col">Subject</th>
                <th scope="col">Teacher</th>
            </thead>
            <tbody>
                <tr>
                    <td>Math</td>
                    <td>Mr. A</td>
                    <td><a href="#">Details</a></td>
                    <td><a href="#">Enrole</a></td>
                </tr>     
                <tr>
                    <td>Biology</td>
                    <td>Mr. B</td>
                    <td><a href="#">Details</a></td>
                    <td><a href="#">Enrole</a></td>
                </tr>
                <tr>
                    <td>Philosophy</td>
                    <td>Mrs. C</td>
                    <td><a href="#">Details</a></td>
                    <td><a href="#">Enrole</a></td>
                </tr>         
            </tbody>
        </table>   
</div>
