<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>School Management System</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container-fluid">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li [ngbNavItem]="1">
        <a ngbNavLink>Subjects</a>
        <ng-template ngbNavContent>
         <app-subjects-list></app-subjects-list>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>Teachers</a>
        <ng-template ngbNavContent>
          <app-teachers-list></app-teachers-list>
        </ng-template>
      </li>
      <li [ngbNavItem]="3">
        <a ngbNavLink>Students</a>
        <ng-template ngbNavContent>
          <app-students-list></app-students-list>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
 
</body>
</html>

  


