<div class="container">
    <div class="row">
        <header>
            <h1 class="header__title">Students</h1>
                <button class="btn header-btn btn-add" (click)="togglePopUp('add')">&#43;</button>
        </header>   
    </div>
    <div class="row">
        <div class="popUp__container addStudent">
            <app-add-student-popUp [studentsList]="students"></app-add-student-popUp>
        </div>
        <div class="popUp__container descriptionStudent">
            <app-description-student-popUp [student]="student"></app-description-student-popUp>
        </div>
        <div class="popUp__container updateStudent">
            <app-update-student-popUp [student]="student" [studentsList]="students"></app-update-student-popUp>
        </div>
        <div class="popUp__container deleteStudent">
            <app-delete-student-popUp [student]="student" [studentsList]="students"></app-delete-student-popUp>
        </div>
        <table class="table table-sm table-fixed">
            <thead>
                <tr>
                    <th></th>
                    <th scope="col">Last Name</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of students">
                    <td></td>
                    <td>{{student.lastName}}</td>
                    <td>{{student.firstName}}</td>
                    <td class="table__btns-group">
                        <button class="btn description" (click)="toggleDescriptionPopUp(student)"><i class="fa fa-eye" aria-hidden="true"></i></button>
                        <button class="btn update" (click)="toggleUpdatePopUp(student)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                        <button class="btn delete" (click)="toggleDeletePopUp(student)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
